@charset "UTF-8";
/* ============================================================
FOOTER
============================================================ */
.launch-footer {
  background: #191c1e;
  color: #1398c5;
  padding: 40px 0 0;
  height: 161px;
  width: 100%;
}
.launch-footer:before,
.launch-footer:after {
  content: " ";
  display: table;
}
.launch-footer:after {
  clear: both;
}
.launch-footer.sticky {
  position: absolute;
  bottom: 0;
  left: 0;
}
.launch-footer .logo {
  display: block;     
  float: left;
}
.launch-footer .menu {
  float: right;
  margin-right: -15px;
}
.launch-footer .menu a {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #7c7c7c;
  padding: 0 15px;
  border-left: 1px solid #7c7c7c;
}
.launch-footer .menu a:first-child {
  border-left: none;
}
.launch-footer .menu a:hover {
  color: #afafaf;
}
.launch-footer .cnpj { 
  background-color: #111314;  
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}
.launch-footer small {
  color: #f9f9f9;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.launch-footer small br { 
  display: none;
}
.launch-footer .powered-by-branding {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 116px;
  height: 38px;
  z-index: 10000;
  display: block;
  border: 0px solid whitesmoke;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.60) 1%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.60)), color-stop(1%,rgba(0,0,0,0.60)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.60) 1%,rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.60) 1%,rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.60) 1%,rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.60) 1%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2000000', endColorstr='#000000',GradientType=1 );
  border-top-left-radius: 10px;
  padding: 4px 10px;
}

.launch-footer .made-by {
  font-size: 10px;
  color: rgb(177, 163, 163);
  margin-bottom: 2px;
}
@media (max-width: 829px) {
  .launch-footer {
    height: 230px;
    padding: 32px 0 0;
  }
  .launch-footer h1,
  .launch-footer .logo {
    float: none;
    margin: 0 auto 35px;
  }
  .launch-footer .menu {
    float: none;
    text-align: center;
  }

  .launch-footer .cnpj {
    text-align: center;
    padding: 16px 0;
  }
  .launch-footer small br { 
    display: block;    
  }

}
